body{
	background: skyblue;
}
.main{
	background: white;
	display: flex;
	justify-content: space-around;
	margin: 5%;
	border-radius: 5%;

}
.sub{
	background: lightgreen;
	margin: 7%;
	border-radius: 5%;
	text-align: center;
	box-shadow: 4px 4px 4px 4px;
}
img{
	margin: 7%;
	border-radius: 5%;
	width: 65%;
	height: 40%;
}
